<!DOCTYPE html>
<head>
<link rel="stylesheet" href="/css/style.css">
<script src="js/app.js"></script>
<title> Home</title>
</head>

<html>
<body>
    <div class="main-content">
{{>header}}
<img class="portrait" src="img/eiffel-tower.jpg">
 <br>
 </div>
 {{>footer}}

</body>
</html>